* {
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
header {
    background-color: rgba(35, 28, 26, 0.8);
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 9999;
}
h1 {
    color: white;
    position: relative;
    left: 60px;
    top: 0;
    line-height: 80px;
}
header ul {
    position: absolute;
    right: 5vw;
    top: 0;
    line-height: 80px;
}
header li {
    display: inline;
    margin-right: 4vw;
}
header a {
    color: white;
    text-decoration: none;
}
header a:hover {
    text-decoration: underline;
}
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes appear {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
.explore {
    background-color: antiquewhite;
    color: white;
    height: 105vh;
    background-image: url("../static/emergency1_dark.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 25vh;
}
.explore h2 {
    font-size: 60px;
    margin-top: 80px;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 4s forwards;
}
.explore:hover h2 {
    animation-delay: 0.5s;
}
.explore p {
    color: #fef7e6;
    font-size: 18px;
    margin: 85px 0;
}
.explore a {
    color: white;
    text-decoration: none;
    border: 1px solid #acacac;
    padding: 10px 20px;
    border-radius: 5px;
}

footer {
    background-color: #000;
    color: #b7b7b7;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}
.demo-container {
    height: 200vh;
    position: relative;
    background:
        url("../static/front_page_2.png") no-repeat center top;
    background-size: cover;
}
.demo {
    display: flex;
    height: 50vh;
    position: sticky;
    top: 50%;
    transform: translateY(-50%);
    justify-content: space-between;
    padding: 2rem 8rem;
    background-color: #000;
    border: 1px solid #ccc;
}
.demo1 {
    z-index: 1;
    background-color: #f2d388;
}
.demo2 {
    z-index: 2;
    background-color: #c7efd9;
}
.demo3 {
    z-index: 3;
    background-color: #fad4d4;
}
.demo img {
    width: 50%;
}
.demo_message {
    width: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.demo_message h2{
    font-size: 50px;
    margin-bottom: 30px;
}
.demo_message p {
    font-size: 20px;
    text-align: center;
    line-height: 2em;
}
.contact {
    display: flex;
    background-color: #ede9db;
    justify-content: space-between;
    padding: 100px 100px 80px;
    position: relative;
    margin-top: -30vh;
    z-index: 3;
}
.contact div {
    width: 200px;
    text-align: center;
}
.contact img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
}
.contact h3 {
    font-size: 20px;
    margin: 20px 0;
}
.contact p {
    font-size: 14px;
    line-height: 1.6em;
}