<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intelligent Scheduler for Emergency Department</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
    <h1>Intelligent Scheduler for Emergency Department</h1>
    <nav>
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Login</a></li>
    </ul>
    </nav>
    </header>
    <main>
    <section class="explore">
    <h2>Explore Better Decision Making</h2>
    <p><a href="https://github.com/wang2653/Building-an-Intelligent-Job-Scheduler-for-Optimized-Request-Assignment">Learn more</a></p>
    </section>

    <section class="slogan">
    <blockquote>" Minimizing Waiting Times, <br> Maximizing Our Care "</blockquote>
    </section>

    <section class="demo">
    <img src="../image/bg2.jpg" alt="Hospital Image">
    <div class="demo_message">
    <h2>Demo</h2>
    <p>Deep RL Model <br> Your gateway to seamless patient management</p>
    </div>
    </section>
    </main>
    <footer>
        <p>&copy; 2025 Intelligent Scheduler for Emergency Department</p>
    </footer>
</body>
</html>