<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intelligent Scheduler for Emergency Department</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
    <h1>Intelligent Scheduler for Emergency Department</h1>
    <nav>
    <ul>
        <li><a href="#explore">Home</a></li>
        <li><a href="https://github.com/wang2653/Building-an-Intelligent-Job-Scheduler-for-Optimized-Request-Assignment">About</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="/doctor">Login</a></li>
    </ul>
    </nav>
    </header>
    <main>
    <section id="explore" class="explore">
    <h2>Explore Better Decision Making</h2>
    <p><a href="https://github.com/wang2653/Building-an-Intelligent-Job-Scheduler-for-Optimized-Request-Assignment">Learn more</a></p>
    </section>

    <section class="slogan">
    <blockquote>" Minimizing Waiting Times, <br> Maximizing Our Care "</blockquote>
    </section>

    <section class="demo">
    <img src="../image/bg2.jpg" alt="Hospital Image">
    <div class="demo_message">
    <h2>Demo</h2>
    <p>Deep RL Model <br> Your gateway to seamless patient management</p>
    </div>
    </section>

    <section id="contact" class="contact">
        <div>
            <img src="../static/momo1.jpeg" alt="Ruoyu's Photo">
            <h3>Ruoyu Li</h3>
            <p>Frontend Developer <br> lambert.li@mail.utoronto.ca</p>
        </div>
        <div>
            <img src="../static/momo2.jpeg" alt="Yifan's Photo">
            <h3>Yifan Wang</h3>
            <p>Frontend Developer <br> yfan.wang@mail.utoronto.ca</p>
        </div>
        <div>
            <img src="../static/momo3.jpeg" alt="Housen's Photo">
            <h3>Housen Zhu</h3>
            <p>Backend Developer <br> benjamin.zhu@mail.utoronto.ca</p>
        </div>
        <div>
            <img src="../static/momo4.jpeg" alt="Yuan's Photo">
            <h3>Yuan Sui</h3>
            <p>Backend Developer <br> yuan.sui@mail.utoronto.ca</p>
        </div>
    </section>
    </main>
    <footer>
        <p>&copy; 2025 Intelligent Scheduler for Emergency Department</p>
    </footer>
</body>
</html>