<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intelligent Scheduler for Emergency Department</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <div class="header-left">
            <img src="../static/logo2.png" alt="Logo" class="logo" />
            <h2>Intelligent Scheduler<br>for Emergency Department</h2>
        </div>
        <nav>
        <ul>
            <li><a href="#explore">Home</a></li>
            <li><a href="https://github.com/wang2653/Building-an-Intelligent-Job-Scheduler-for-Optimized-Request-Assignment">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
                <a href="#">Login</a>
                <ul class="dropdown-content">
                <li><a href="/login">Doctor</a></li>
                <li><a href="#">Patient</a></li>
                </ul>
            </li>

        </ul>
        </nav>
    </header>
    <main>
    <section id="explore" class="explore">
    <h2>Explore Better Decision Making</h2>
    <p><a href="https://github.com/wang2653/Building-an-Intelligent-Job-Scheduler-for-Optimized-Request-Assignment">Learn more</a></p>
    </section>

    <section class="advantage-container">
        <h2>Our Advantages</h2>
        <section class="advantage">
            <div>
                <img src="../static/adv_img1.jpeg" alt="Efficiency in Resource Allocation">
                <p>Efficiency in Resource Allocation</p>
            </div>
            <div>
                <img src="../static/adv_img2.jpeg" alt="Reduction in Waiting Times">
                <p>Reduction in Waiting Times</p>
            </div>
            <div>
                <img src="../static/adv_img3.jpeg" alt="User-Friendly Interface">
                <p>User-Friendly Interface</p>
            </div>
        </section>
    </section>


    <div class="demo-container">
        <section class="demo demo1">
            <img src="../static/bg2.jpg" alt="Hospital Image">
            <div class="demo_message">
                <h3>Step 1 Login to the system</h3>
                <p>Click the Login button in the upper right corner of the home page. If you are a staff member at a nurse's station, you will be redirected to the Doctor Management interface; If you are a patient or a patient's family member, you will be redirected to the Patient Advisement interface.       
                    </p>
            </div>
        </section>
        <section class="demo demo2">
            <img src="../static/bg2.jpg" alt="Hospital Image">
            <div class="demo_message">
                <h3>Step 2: Add/Edit Patient Information</h3>
                <p>After logging in, you will be directed to the appropriate interface based on your role. If you are a patient or a patient's family member, you will be prompted to enter the required patient information.</p>
            </div>
        </section>
        <section class="demo demo3">
            <img src="../static/bg2.jpg" alt="Hospital Image">
            <div class="demo_message">
                <h3>Step 3: Check Doctor Status</h3>
                <p>You may want to check out Doctor Status page. Here, you can view real-time availability of doctors, including doctor's name, portrait, and workload.
                </p>
            </div>
        </section>
        <section class="demo demo4">
            <img src="../static/bg2.jpg" alt="Hospital Image">
            <div class="demo_message">
                <h3>Step 4: Check Patient Queuing Information</h3>
                <p>If you are a patient or patient's family member, the system will provide details of the patient queue after logging in. If any priority cases arise, the system will dynamically adjust the queue and notify affected patients. </p>
            </div>
        </section>
    </div>

    <section id="contact" class="contact">
        <div>
            <img src="../static/momo1.jpeg" alt="Ruoyu's Photo">
            <h3>Ruoyu Li</h3>
            <p>Frontend Developer <br> lambert.li@mail.utoronto.ca</p>
        </div>
        <div>
            <img src="../static/momo2.jpeg" alt="Yifan's Photo">
            <h3>Yifan Wang</h3>
            <p>Frontend Developer <br> yfan.wang@mail.utoronto.ca</p>
        </div>
        <div>
            <img src="../static/momo3.jpeg" alt="Housen's Photo">
            <h3>Housen Zhu</h3>
            <p>Backend Developer <br> benjamin.zhu@mail.utoronto.ca</p>
        </div>
        <div>
            <img src="../static/momo4.jpeg" alt="Yuan's Photo">
            <h3>Yuan Sui</h3>
            <p>Backend Developer <br> yuan.sui@mail.utoronto.ca</p>
        </div>
    </section>
    </main>
    <footer>
        <p>&copy; 2025 Intelligent Scheduler for Emergency Department</p>
    </footer>
</body>
</html>